<% if @comment.user.present? %>
  <p>
    <strong>user:</strong>
    <%= @comment.user.name %>
  </p>
  <p>
    <strong>sex:</strong>
    <%= @comment.user.sex %>
  </p>
<% end %>

<p>
  <strong>comment:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Back', @post, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Edit', edit_post_comment_path(@comment.post, @comment), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Destroy', post_comment_path(@comment.post, @comment), method: :delete, class: 'btn btn-primary btn-sm' %>
