<%= form_for(user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required:true %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sex, {male: 'male', female: 'female'}, required:true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
