<h1>Users</h1>
<br>
<%= link_to 'Create New User', new_user_path, class: 'btn btn-primary' %>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>sex</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if user.sex == 'male' %>
          <td><span class="badge badge-pill badge-primary"><%= user.sex %></span></td>
        <% else %>
          <td><span class="badge badge-pill badge-danger"><%= user.sex %></span></td>
        <% end %>
        <td><%= link_to 'Show', user, class: 'btn btn-primary' %></td>
        <% if user.is_created_by_user?(current_user) %>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary' %></td>
          <td><%= link_to 'Destroy', user, method: :delete, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
