<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
  <th>名前</th>
  <th>性別</th>
  </tr>
  </thead>
</table>

<tbody>
  <% @users.each do |user| %>
    <td><%= user.name %></td>
    <td><%= user.sex %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <% end %>
</tbody>

<br>

<%= link_to 'Create New User', new_user_path %>