<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>sex:</strong>
  <%= @user.sex %>
</p>

<% if @user.is_created_by_user?(current_user) %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<%= link_to 'Back', users_path %>
