<p>
  <strong>title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>post user:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>sex:</strong>
  <%= @post.user.sex %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<%= link_to 'Back', posts_path %>

<br>
<br>

<%= link_to 'Create New Comment', new_post_comment_path(@post) %>

<br>

<strong>Comments (<%= @comments.count %>)</strong><br>
<hr>
<% @comments.each do |comment| %>
  <p>
    <strong>user:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>sex:</strong>
    <%= comment.user.sex %>
  </p>

  <p>
    <strong>comment:</strong>
    <%= comment.content %>
  </p>

  <td><%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %></td>
  <td><%= link_to 'Destroy', post_comment_path(comment.post, comment), method: :delete %></td>

  <hr>

<% end %>
