<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>content</th>
        <th>post user</th>
        <th>sex</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @post.title %></td>
          <td><%= @post.content %></td>
          <td><%= @post.user.name %></td>
          <td><%= @post.user.sex %></td>
        </tr>
    </tbody>
  </table>
</div>

<% if @post.is_posted_by_user?(current_user) %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary btn-sm' %>
<% end %>

<%= link_to 'Back', posts_path, class: 'btn btn-primary btn-sm' %>

<br>
<br>

<%= link_to 'Create New Comment', new_post_comment_path(@post), class: 'btn btn-primary' %>

<br>
<br>

<strong>Comments (<%= @comments.count %>)</strong><br>
<hr>
<% @comments.each do |comment| %>
  <p>
    <strong>user:</strong>
    <% if comment.user.present? %>
      <%= comment.user.name %>
    <% else %>
      <%= "匿名ユーザー" %>
    <% end %>
  </p>

  <p>
    <strong>sex:</strong>
    <% if comment.user.present? %>
      <%= comment.user.sex %>
    <% else %>
      <%= "unknown" %>
    <% end %>
  </p>

  <p>
    <strong>comment:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>created_at:</strong>
    <%= comment.created_at %>
  </p>

  <% if comment.can_be_edited_by_user?(current_user) %>
    <td><%= link_to 'Edit', edit_post_comment_path(comment.post, comment), class: 'btn btn-secondary btn-sm' %></td>
    <td><%= link_to 'Destroy', post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-danger btn-sm' %></td>
  <% end %>

  <hr>

<% end %>
